<!DOCTYPE html>
<html>
    <head>
        <title>ASRJC</title>
    </head>
    <body>
        <h1>RP Calculator</h1>
        <form method="post">
            <label for='first'>1st H2 Subject</label>
            <select id='first' name='first'>
                <option value="20">A</option>
                <option value="17.5">B</option>
                <option value="15">C</option>
                <option value="12.5">D</option>
                <option value="10">E</option>
                <option value="5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <label for='second'>2nd H2 Subject</label>
            <select id='second' name='second'>
                <option value="20">A</option>
                <option value="17.5">B</option>
                <option value="15">C</option>
                <option value="12.5">D</option>
                <option value="10">E</option>
                <option value="5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <label for='third'>3rd H2 Subject</label>
            <select id='third' name='third'>
                <option value="20">A</option>
                <option value="17.5">B</option>
                <option value="15">C</option>
                <option value="12.5">D</option>
                <option value="10">E</option>
                <option value="5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <label for='fourth'>4th H2/ Content H1 Subject</label>
            <select id='fourth' name='fourth'>
                <option value="10">A</option>
                <option value="8.75">B</option>
                <option value="7.5">C</option>
                <option value="6.25">D</option>
                <option value="5">E</option>
                <option value="2.5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <label for='pw'>H1 Project Work</label>
            <select id='pw' name='pw'>
                <option value="10">A</option>
                <option value="8.75">B</option>
                <option value="7.5">C</option>
                <option value="6.25">D</option>
                <option value="5">E</option>
                <option value="2.5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <label for='gp'>H1 General Paper</label>
            <select id='gp' name='gp'>
                <option value="10">A</option>
                <option value="8.75">B</option>
                <option value="7.5">C</option>
                <option value="6.25">D</option>
                <option value="5">E</option>
                <option value="2.5">S</option>
                <option value="0">U</option>
            </select>
            <br>
            <input type="submit", value='Submit'>
        </form>
        
    </body>
</html>